.App {
  text-align: center;
}

.sidebar.accordion .sidebar-brand-icon {
  position: relative;
  top: -2px;
}

.sidebar.accordion .sidebar-brand-icon img {
  -webkit-filter: drop-shadow(6px 6px 15px rgba(0,0,0,0.5));
  filter: drop-shadow(6px 6px 15px rgba(0,0,0,0.5));
}

.sidebar.accordion .sidebar-brand-text {
  text-shadow: 2px 3px 15px rgba(0,0,0,0.5);
}

.sidebar .nav-item .nav-link {
  padding: 0.15rem 1rem;
}

.sidebar hr.sidebar-divider {
  width: 85%;
}

.sidebar .nav-item .shadow {
  text-shadow: 2px 3px 15px rgba(0,0,0,0.5);
}

#content .container-fluid.anniversary-calculator {
  padding-left: 6px;
  padding-right: 6px;
}
