.App {
  text-align: center;
}

.sidebar.accordion .sidebar-brand-icon {
  position: relative;
  top: -2px;
}

.sidebar.accordion .sidebar-brand-icon img {
  -webkit-filter: drop-shadow(6px 6px 15px rgba(0,0,0,0.5));
  filter: drop-shadow(6px 6px 15px rgba(0,0,0,0.5));
}

.sidebar.accordion .sidebar-brand-text {
  text-shadow: 2px 3px 15px rgba(0,0,0,0.5);
}

.sidebar .nav-item .nav-link {
  padding: 0.15rem 1rem;
}

.sidebar hr.sidebar-divider {
  width: 85%;
}

.sidebar .nav-item .shadow {
  text-shadow: 2px 3px 15px rgba(0,0,0,0.5);
}

#content .container-fluid.anniversary-calculator {
  padding-left: 6px;
  padding-right: 6px;
}

.ricorrenzeTblWrapper {
  height: 75vh;
  overflow-y: auto;
  margin: 10px 0;
}

.ricorrenzeTbl {
  width: 95%;
  margin: 0 auto;
  font-size: .8em;
}

.ricorrenzeTbl thead {
  position: sticky;
  inset-block-start: 0;
  background-color: darkblue;
  color: rgb(235, 235, 235);
}

.ricorrenzeTbl th, td {
  padding: 6px 12px;
}

.ricorrenzeTbl thead tr {
  border-bottom: 3px groove white;
}

.ricorrenzeTbl tbody tr {
  border-bottom: 1px groove white;
}

.ricorrenzeTbl tbody tr td:nth-child(7),td:nth-child(5) {
  width: 25%;
}

.read-more-button {
  background: grey;
  color: #fff;
  display: inline-block;
  margin: 0 6px;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 6px;
}

.read-more-button:hover {
  background:lightgray;
  color: gray;
}